{% extends 'base_accounts.html' %} 
{% comment %} {% load crispy_forms_tags %}  {% endcomment %}
{% load static widget_tweaks %}
{% block title %} {% if validlink %} Change password for {{ form.user.username }} {% else %}
Reset your password {% endif %} {% endblock title %} {% block content %}
<div class="flex justify-center">
  <div class="w-full max-w-sm p-6 bg-white rounded-lg shadow-md md:max-w-md">
    {% if validlink %}
    <h3 class="mb-4 text-xl font-semibold text-gray-800">
      Change password for @{{ form.user.username }}
    </h3>
    <form method="post" novalidate>
      {% comment %} {% csrf_token %} {{ form|crispy }} {% endcomment %}

      <button
        type="submit"
        class="w-full px-4 py-2 mt-4 font-medium text-white bg-green-600 rounded hover:bg-green-700"
      >
        Change password
      </button>
    </form>
    {% else %}
    <h3 class="mb-4 text-xl font-semibold text-gray-800">
      Reset your password
    </h3>
    <div
      class="px-4 py-3 mb-4 text-red-700 bg-red-100 border border-red-400 rounded"
    >
      It looks like you clicked on an invalid password reset link. Please try
      again.
    </div>

    <div class="space-y-3">
      <a
        href="{% url 'users:login' %}"
        class="inline-block w-full px-4 py-2 font-medium text-center text-white bg-blue-600 rounded hover:bg-blue-700"
      >
        Return to log in
      </a>
      <a
        href="{% url 'users:password_reset' %}"
        class="inline-block w-full px-4 py-2 font-medium text-center text-white bg-gray-500 rounded hover:bg-gray-600"
      >
        Request a new password reset link
      </a>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
