{% extends 'base_accounts.html' %} 
{% comment %} {% load crispy_forms_tags %}  {% endcomment %}
{% block title%}Change password{% endblock %} 
{% load static widget_tweaks %}
{% block breadcrumb %}
<li class="text-gray-600">Change password</li>
{% endblock %} {% block content %}
<div class="flex justify-center">
  <div class="w-full max-w-md p-6 bg-white rounded-lg shadow-md md:max-w-lg">
    <form method="post" novalidate>
      {% comment %} {% csrf_token %} {{ forms|crispy }} {% endcomment %}

      <div class="mt-4">
        <button
          type="submit"
          class="w-full px-4 py-2 font-medium text-white bg-blue-600 rounded hover:bg-blue-700"
        >
          Change password
        </button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
