{% extends 'base_accounts.html' %} 
{% comment %} {% load crispy_forms_tags %}  {% endcomment %}
{% load static widget_tweaks %}
{% block title %}Reset your password{% endblock %} 
{% block content %}
<div class="flex justify-center">
  <div class="w-full max-w-sm p-6 bg-white rounded-lg shadow-md md:max-w-md">
    <h3 class="mb-3 text-xl font-semibold text-gray-800">
      Reset your password
    </h3>
    <p class="mb-4 text-gray-700">
      Enter your email address and we will send you a link to reset your
      password.
    </p>

    <form method="post" novalidate>
      {% comment %} {% csrf_token %} {{ form|crispy }} {% endcomment %}

      <button
        type="submit"
        class="w-full px-4 py-2 mt-4 font-medium text-white bg-blue-600 rounded hover:bg-blue-700"
      >
        Send password reset email
      </button>
    </form>
  </div>
</div>
{% endblock %}
